/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: black;
    background-color: #f9f9f9;
}

header {
    background: #f39898;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Adjust as needed */
  }
  
  .image-container img {
    width: 250px; /* Set the size of the image */
    height: 250px; /* Make height equal to width for a perfect circle */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fits within the circle */
    border: 2px solid #ccc; /* Optional: Add a border for styling */
  }

  

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

section {
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}


#home{
    text-align: center;
}
/* Projects Section */
.project {
    display: flex;
    display: inline-block;
    margin-bottom: 1.5rem;
    justify-content: center;
    
}

.project a {
    color: #007BFF;
    text-decoration: none;
}

.project a:hover {
    text-decoration: dashed;
}

/* Contact Section */
#contact a {
    
    color: #007BFF;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
#contact h2 {
    justify-content: center;
    align-items: center;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem 0;
    background:#f39898; ;
    color: #fff;
}

.github-link{
    text-decoration: none;
    color: #333;
    font-size: 24px
  }
  .github-link:hover{
    color: #4078c0;
  }